@use "abstracts/" as *;
     body{
        @include bg-img("../assets/images/bgMobile.png");
       position: relative;
       z-index: -1;
    } 

@include middle{
    body{
        @include bg-img("../assets/images/bgTablet.png");
       
    } 
}

@include tablet{
    body{
        @include bg-img("../assets/images/bgTablet.png");
       
    }
}
@include desktop{
    body{
        @include bg-img("../assets/images/bgDesktop.png");
    
    }
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}