@use "abstracts/" as *;

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 330px;
    @include bg-img("../assets/images/bgMobile.png");
    @include tablet {
      @include bg-img("../assets/images/bgTablet.png");
    }
    @include desktop {
      @include bg-img("../assets/images/bgDesktop.png");
    }
}