@use '../abstracts/' as *;

.banner {
    z-index: 1000;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $color_initial_header;
    width: 100%;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    .moderna--svg {
        margin-left: 10px;
        width: pxToRem(70px);
        height: pxToRem(17px);
        padding: 5px 0px;
    }

    .pfizer--svg {
        width: pxToRem(70px);
        height: pxToRem(30px);
        padding: 5px 0px;
        margin-left: 12px;

    }

    .astra--svg {
        width: pxToRem(70px);
        height: pxToRem(21px);
        padding: 5px 0px;
        margin-left: 10px;
    }

    .sinovac--svg {
        width: pxToRem(70px);
        height: pxToRem(15px);
        padding: 5px 0px;
        margin-left: 10px;
    }

}
@include tablet{
    
.banner {
    width: 100%;
    height: pxToRem(80px);
    
    .moderna--svg {
        margin-left: 10px;
        width: pxToRem(148px);
        height: pxToRem(34px);
        padding: pxToRem(11px) 0;
    }

    .pfizer--svg {
        width: pxToRem(148px);
        height: pxToRem(60px);
        margin-left: 24px;
        padding: pxToRem(11px) 0;
    }

    .astra--svg {
        width: pxToRem(148px);
        height: pxToRem(42px);
        margin-left: 24px;
        padding: pxToRem(11px) 0;
    }

    .sinovac--svg {
        width: pxToRem(148px);
        height: pxToRem(30px);
        margin-left: 24px;
        margin-right: 24px;
        padding: pxToRem(5px) 0;
    }

}
}
@include desktop{

    .banner {
        
    width: 100%;
    height: pxToRem(140px);
        .moderna--svg {
            margin-left: 20px;
            width: pxToRem(270px);
            height: pxToRem(66px);
        }
    
        .pfizer--svg {
            width: pxToRem(270px);
            height: pxToRem(119px);
            padding: 41px 0px;
            margin-left: 20px;
    
        }
    
        .astra--svg {
            width: pxToRem(270px);
            height: pxToRem(82px);
            padding: 41px 0px;
            margin-left: 20px;
        }
    
        .sinovac--svg {
            width: pxToRem(270px);
            height: pxToRem(58px);
            padding: 41px 0px;
            margin-left: 20px;
        }
    
    }
}