@use '../abstracts/' as *;

.cardProtect {
    width: 236px;
    height: 280px;
    border-radius: 20px 80px 20px 20px;
    background-color: $color_sm_gray;
    padding: 30px 30px 0 30px;

    .cardProtect--fg {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 10px;
        background-color: $color_background_checkstt;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        align-items: center;

        .cardProtect--svg {
            width: 30px;
            height: 30px;
        }
    }

    .cardProtect_line1 {
        width: 172px;
        height: 34px;
        flex-shrink: 0;
        color: $color_blue;
        font-size: pxToRem(14px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }

    .cardProtect_line2 {
        font-family: $fontMontserratRegular;
        width: 235px;
        height: 61px;
        flex-shrink: 0;
        color: $color_white;
        font-size: pxToRem(12px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .cardProtect_readmore {
        margin-top: 40px;
        display: flex;
        align-items: center;

        .cardProtect_readmore_content {
            color: $color_blue;
            font-size: pxToRem(12px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .cardProtect_readmore--fg {
           .cardProtect_readmore--svg{
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-top: 4px;
            margin-left: 6px;
           }
        }
    }
}
@include tablet{
    .cardProtect {
        width: 350px;
        height: 500px;
        border-radius: 50px 150px 50px 50px;
        padding: 50px 50px 0 50px;
    
        .cardProtect--fg {
            width: 100px;
            height: 100px;
            border-radius: 30px;
            margin-bottom: 40px;
            .cardProtect--svg {
                width: 70px;
                height: 70px;
            }
        }
        .cardProtect_line1 {
            width: 300px;
            height: 58px;
            font-size: pxToRem(24px);
            margin-bottom: 40px;
        }
        .cardProtect_line2 {
            width: 352px;
            height: 90px;
            font-size: pxToRem(18px);
        }
    
        .cardProtect_readmore {
            margin-top: 60px;
    
            .cardProtect_readmore_content {
                font-size: pxToRem(18px);
            }
    
            .cardProtect_readmore--fg {
               .cardProtect_readmore--svg{
                width: 30px;
                height: 30px;
               }
            }
        }
    }
}
@include desktop{
    .cardProtect {
        width: 400px;
        height: 500px;
    
        .cardProtect--fg {
            width: 100px;
            height: 100px;
            border-radius: 30px;
            margin-bottom: 40px;
            .cardProtect--svg {
                width: 70px;
                height: 70px;
            }
        }
        .cardProtect_line1 {
            width: 300px;
            height: 58px;
            font-size: pxToRem(24px);
            margin-bottom: 40px;
        }
        .cardProtect_line2 {
            width: 352px;
            height: 90px;
            font-size: pxToRem(18px);
        }
    
        .cardProtect_readmore {
            margin-top: 60px;
    
            .cardProtect_readmore_content {
                font-size: pxToRem(18px);
            }
    
            .cardProtect_readmore--fg {
               .cardProtect_readmore--svg{
                width: 30px;
                height: 30px;
               }
            }
        }
    }
}