@use "../abstracts/" as *;

.cusinforsub {
    width: 100%;
    font-family: $fontMontserrat;
    margin-top: 5%;
    background-color: $color_white;
     
    .cusinfor {
        padding: 15% 2%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: max-content;

        .cusinfor_line1 {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: pxToRem(40px);
            color: $color_black;
            font-size: pxToRem(24px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: pxToRem(230px);
            height: pxToRem(60px);
        }

        .cusinfor_image {
            width: pxToRem(300px);
            height: pxToRem(73px);
            position: relative;
            margin-bottom: pxToRem(30px);

            .cusinfor_image_card {
                position: relative;
                margin-left: 5%;
                padding: pxToRem(40px) 0 0 0;
                margin-right: auto;
                width: pxToRem(290px);
                height: pxToRem(365px);
                background: url("../assets/images/bgMobile.png");
                border-radius: 20px;

                .imagevaccine--fg {
                    .imagevaccine--svg {
                        width: pxToRem(287px);
                        height: pxToRem(365px);
                    }
                }

                .cusinfor_image_card_line1 {
                    position: absolute;
                    top: 30px;
                    margin-left: 35%;
                    color: $color_white;
                    font-size: pxToRem(14px);
                    text-align: center;
                    line-height: normal;
                    font-weight: 700;
                    font-style: normal;
                    width: pxToRem(70px);
                }

                .link {
                    position: absolute;
                    bottom: 30px;
                    left: 0;
                    margin-left: 15%;
                    width: pxToRem(200px);
                    height: pxToRem(50px);
                    background-color: $color-196_025;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .cusinfor_image_card_link {
                    font-weight: 700;
                    text-decoration: none;
                    color: $color_white;
                    font-size: pxToRem(14px);
                    text-align: center;
                    line-height: normal;
                    font-style: normal;
                }
            }

            .iconcorona--fg {
                position: absolute;
                top: pxToRem(-30px);
                left: pxToRem(30px);

                .iconcorona--svg {
                    width: pxToRem(75px);
                    height: pxToRem(73px);
                }
            }

        }

        .cusinfor_form {
            margin-left: 7%;
            margin-top: 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .cusinfor_form_line {
                color: $color_black;
                font-size: pxToRem(14px);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 15px;
                margin-top: 15px;
            }

            .inputname {
                width: 85%;
                height: pxToRem(50px);
                flex-shrink: 0;
                background-color: $color_inputname;
                border-radius: 10px;
                border: 0;
            }

            .inputname::placeholder {
                font-family: $fontMontserratRegular;
                padding-left: 10%;
            }

            .cusinfor_form_line34 {
                text-align: left;
                color: $color_0_05;
                font-size: pxToRem(14px);
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 20px;
            }

            .cusinfor_form_select {
                display: flex;
                flex-direction: column;
                width: 85%;
                height: pxToRem(50px);
                background-color: $color_inputname;
                border-radius: 10px;
                margin-bottom: 120px;

                .cusinfor_form_select_flagnum {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 20px;

                    .flag--fg {
                        margin-left: 20px;
                        margin-top: 6px;
                        margin-right: 3px;

                        .flag--svg {
                            width: pxToRem(40px);
                            height: pxToRem(40px);
                        }
                    }

                    .arrow--fg {
                        height: pxToRem(38px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-right: 3px solid $color_0_01;
                        margin-right: 20px;
                        .arrow--svg{
                            height: 20px;
                            width: 20px;
                        }
                    }

                    .phonenumber {
                        font-family: $fontMontserratRegular;
                        font-size: pxToRem(14px);
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: $color_0_025;
                        height: 48px;
                        border-radius: 10px;
                        background-color: $colorphonenumnber;
                        border: none;
                        width: 80%;
                        
                    }
                }

                .cusinfor_form_select_button {
                    display: flex;
                    width: pxToRem(150px);
                    height: 50px;
                    padding: 20px 70px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    border: 0;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: $color_white;
                    font-size: pxToRem(14px);
                    background-color: $color_blue;
                }
            }

            .cusinfor_form_button {
                display: flex;
                width: 90%;
                height: 50px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                font-size: pxToRem(14px);
                color: $color_white;
                background-color: $color_blue;
                border: 0;
                border-radius: 10px;
                margin-bottom: 20px;
            }

            .cusinfor_form_question {
                display: flex;

                .cfq1 {
                    color: $color_0_05;
                    font-size: pxToRem(14px);
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-right: 25px;
                }
                .cfq2{
                    color: $color_blue;
                    font-size: pxToRem(14px);
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }
}
@include tablet{
    
.cusinforsub {
    width: 100%;
    height: pxToRem(1300px);
    .cusinfor {
        padding: 5% 2%;
        .cusinfor_line1 {
            text-align: left;
            margin-left: 10px;
            margin-bottom: pxToRem(80px);
            font-size: pxToRem(36px);
            width: pxToRem(590px);
            height: pxToRem(60px);
        }
        .cusinfor_image {
            width: pxToRem(400px);
            height: pxToRem(73px);
            position: relative;
            margin-bottom: 0;
            .cusinfor_image_card {
                width: pxToRem(380px);
                height: pxToRem(480px);
                .imagevaccine--fg {
                    .imagevaccine--svg {
                        width: pxToRem(380px);
                        height: pxToRem(480px);
                    }
                }
                .cusinfor_image_card_line1 {
                    margin-left: 35%;
                    font-size: pxToRem(20px);
                    width: pxToRem(100px);
                }

                .link {
                    bottom: 80px;
                    margin-left: 25%;
                }

                .cusinfor_image_card_link {
                    font-weight: 700;
                    text-decoration: none;
                    color: $color_white;
                    font-size: pxToRem(20px);
                    text-align: center;
                    line-height: normal;
                    font-style: normal;
                }
            }

            .iconcorona--fg {
                .iconcorona--svg {
                    width: pxToRem(100px);
                    height: pxToRem(95px);
                }
            }
        }

        .cusinfor_form {
            margin-left: 7%;
            margin-top: 500px;
            .cusinfor_form_line {
                font-size: pxToRem(20px);
                margin-bottom: 20px;
                margin-top: 20px;
            }

            .inputname {
                width: pxToRem(650px);
                height: pxToRem(70px);
            }
            .inputname::placeholder{
                font-size: pxToRem(20px);
            }
            .cusinfor_form_line34 {
                font-size: pxToRem(20px);
                font-family: $fontMontserratRegular;
            }

            .cusinfor_form_select {
                flex-direction: row;
                width: pxToRem(400px);
                height: pxToRem(70px);
                background-color: $color_inputname;
                border-radius:20px;
                margin-bottom: 30px;

                .cusinfor_form_select_flagnum {
                    .flag--fg {
                        margin-top: 15px;
                    }

                    .arrow--fg {
                        height: pxToRem(40px);
                        margin-right: 20px;
                        margin-top: 10px;
                        margin-left: 10px;
                        .arrow--svg{
                            height: 30px;
                            width: 30px;
                        }
                    }

                    .phonenumber {
                        font-family: $fontMontserratRegular;
                        font-size: pxToRem(20px);
                        width: 155px;
                        margin-top: 10px;
                    }
                }

                .cusinfor_form_select_button {
                    display: flex;
                    width: pxToRem(200px);
                    height: 70px;
                    border-radius: 20px;
                    font-size: pxToRem(20px);
                    margin-left: 200px;
                }
            }

            .cusinfor_form_button {
                display: flex;
                width: 670px;
                height: 70px;
                font-size: pxToRem(20px);
                border-radius: 20px;
                margin-bottom: 20px;
            }

            .cusinfor_form_question {
                display: flex;
                margin-left: 15%;
                .cfq1 {
                    font-size: pxToRem(20px);                    
                }
                .cfq2{
                    font-size: pxToRem(20px);
                }
            }
        }
    }
}
}

@include desktop{
    
    .cusinforsub {
        width: 100%;
        height: pxToRem(650px);
        .cusinfor {
            padding: 1% 2%;
            grid-template-columns: auto auto;
            .cusinfor_line1 {
                grid-column: 1;
                margin-left: 90px;
                margin-bottom: pxToRem(00px);
                font-size: pxToRem(48px);
                width: pxToRem(460px);
                height: pxToRem(120px);
            }
            .cusinfor_image {
                margin-top:10%;
                grid-column: 2 ;
                grid-row: span 2;
                width: pxToRem(400px);
                height: pxToRem(73px);
                position: relative;
                margin-bottom: 0;
                .cusinfor_image_card {
                    width: pxToRem(380px);
                    height: pxToRem(480px);
                    .imagevaccine--fg {
                        .imagevaccine--svg {
                            width: pxToRem(377px);
                            height: pxToRem(480px);
                        }
                    }
                    .cusinfor_image_card_line1 {
                        margin-left: 35%;
                        font-size: pxToRem(20px);
                        width: pxToRem(100px);
                    }
    
                    .link {
                        bottom: 80px;
                        margin-left: 25%;
                    }
    
                    .cusinfor_image_card_link {
                        font-weight: 700;
                        text-decoration: none;
                        color: $color_white;
                        font-size: pxToRem(20px);
                        text-align: center;
                        line-height: normal;
                        font-style: normal;
                    }
                }
    
                .iconcorona--fg {
                    .iconcorona--svg {
                        width: pxToRem(100px);
                        height: pxToRem(95px);
                    }
                }
            }
    
            .cusinfor_form {
                grid-column: 1;
                margin-left: 7%;
                margin-top: 0px;
                .cusinfor_form_line {
                    font-size: pxToRem(20px);
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
    
                .inputname {
                    width: pxToRem(650px);
                    height: pxToRem(70px);
                }
                .inputname::placeholder{
                    font-size: pxToRem(20px);
                }
                .cusinfor_form_line34 {
                    font-size: pxToRem(20px);
                    font-family: $fontMontserratRegular;
                }
    
                .cusinfor_form_select {
                    flex-direction: row;
                    width: pxToRem(400px);
                    height: pxToRem(70px);
                    background-color: $color_inputname;
                    border-radius:20px;
                    margin-bottom: 30px;
    
                    .cusinfor_form_select_flagnum {
                        .flag--fg {
                            margin-top: 15px;
                        }
    
                        .arrow--fg {
                            height: pxToRem(40px);
                            margin-right: 20px;
                            margin-top: 10px;
                            margin-left: 10px;
                            .arrow--svg{
                                width: 35px;
                                height: 35px;
                            }
                        }
    
                        .phonenumber {
                            font-family: $fontMontserratRegular;
                            font-size: pxToRem(20px);
                            width: 155px;
                            margin-top: 10px;
                        }
                    }
    
                    .cusinfor_form_select_button {
                        display: flex;
                        width: pxToRem(200px);
                        height: 70px;
                        border-radius: 20px;
                        font-size: pxToRem(20px);
                        margin-left: 200px;
                    }
                }
    
                .cusinfor_form_button {
                    display: flex;
                    width: 670px;
                    height: 70px;
                    font-size: pxToRem(20px);
                    border-radius: 20px;
                    margin-bottom: 20px;
                }
    
                .cusinfor_form_question {
                    display: flex;
                    margin-left: 15%;
                    .cfq1 {
                        font-size: pxToRem(20px);                    
                    }
                    .cfq2{
                        font-size: pxToRem(20px);
                    }
                }
            }
        }
    }
    }