@use "../abstracts/" as *;

.cuscomment {
    background-color: $color_white;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 30%;
    .cuscommentchild {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .cuscomment_content {
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cc_line1 {
                margin-bottom: 20px;
                color: $color_blue;
                text-align: center;
                @include font($secondary-font,14px,700);
                line-height: normal;
            }

            .cc_line2 {
                color: $color_black;
                text-align: center;
                @include font($secondary-font,24px,800);
                line-height: normal;
                margin-bottom: 10px;
            }

            .cc_para1 {
                color: $color_0_05;
                text-align: center;
                @include font($primary-font,12px,500);
                line-height: normal;
                width: 248px;
            }
        }

        .cuscomment_imageopa {
            .vccine--fg {
                .vccine--svg {
                    height: 200px;
                    width: 125px;
                    margin-bottom: 15px;
                }
            }
        }

        .cardpackage {
            position: absolute;
            top: 61%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;

            .cardcontainer {
                display: flex;
                flex-direction: column;

                .card {

                    margin-bottom: 15px;
                    width: 310px;
                    height: 190px;
                    border-radius: 15px;

                    .personinfor {
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        margin-left: 20px;
                        margin-bottom: 20px;

                        .imageperson--fg {
                            .person--svg {
                                width: 55px;
                                height: 55px;
                            }
                        }

                        .pinfor {
                            margin-left: 20px;

                            .pinfor_line1 {
                                @include font($secondary-font,14px,700);
                                line-height: normal;
                            }

                            .pinfor_line2 {
                                color: $color_0_05;
                                @include font($secondary-font,10px,700);
                                line-height: normal;
                                margin-left: -30px;
                            }
                        }
                    }

                    .personcomment {
                        text-align: center;
                        width: pxToRem(255px);
                        color: $color_0_06;
                        line-height: normal;
                        @include font($primary-font,12px,500);
                        margin-left: 20px;
                        margin-top: 40px;
                    }

                    .perscmm2 {
                        .pcomments {
                            color: $color_255_075;
                            span.highlight{
                                color: $color_blue;
                            }
                        }
                    }
                }

                .card1 {
                    background-color: $color_196_05;
                }

                .card2 {
                    background-color: $color_blue;
                }

                .card3 {
                    background-color: $color_196_05;
                }

            }
        }
    }
}

@include tablet {
    .cuscomment {
        top: 5400px;
        margin-bottom: 200px;
        padding-bottom: 15%;
        .cuscommentchild {
            width: 100%;

            .cuscomment_content {
                margin-top: 40px;
                margin-bottom: 40px;

                .cc_line1 {
                    @include font($secondary-font,20px);

                }

                .cc_line2 {
                    @include font($secondary-font,20px);

                }

                .cc_para1 {
                    @include font($secondary-font,20px);

                    width: 590px;
                }
            }

            .cuscomment_imageopa {
                .vccine--fg {
                    .vccine--svg {
                        height: 290px;
                        width: 175px;
                    }
                }
            }

            .cardpackage {
                top: 62%;
                .cardcontainer {
                    .card {
                        margin-bottom: 50px;
                        width: pxToRem(400px);
                        height: pxToRem(250px);
                        border-radius: 15px;
                        .personinfor {
                            margin-top: 20px;
                            margin-left: 20px;
                            margin-bottom: 20px;
                            .imageperson--fg {
                                .person--svg {
                                    width: 70px;
                                    height: 70px;
                                }
                            }
                            .pinfor {
                                margin-left: 20px;
                                .pinfor_line1 {
                                    @include font($secondary-font,20px);
                                }

                                .pinfor_line2 {
                                    @include font($secondary-font,14px);
                                    margin-left: -60px;
                                }
                            }
                        }
                        .personcomment {
                            text-align: center;
                            width: pxToRem(366px);
                            color: $color_0_06;
                            @include font($primary-font,18px,500);
                            line-height: normal;
                            margin-left: 20px;
                            margin-top: 40px;
                        }

                        .perscmm2 {
                            .pcomments {
                                color: $color_255_075;
                                span.highlight{
                                    color: $color_blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include desktop {
    .cuscomment {
        top: 3850px;
        margin-bottom: 250px;
        padding-bottom: 15%;
        .cuscommentchild {
            width: 100%;
            .cuscomment_content {
                margin-top: 60px;
                margin-bottom: 50px;
                .cc_line1 {
                    @include font($secondary-font,24px);
                }

                .cc_line2 {
                    @include font($secondary-font,24px);
                }

                .cc_para1 {
                    @include font($secondary-font,24px);
                    width: 953px;
                }
            }

            .cuscomment_imageopa {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .vccine--fg {
                    .vccine--svg {
                        height: 479px;
                        width: 294px;
                    }
                }
            }
            .cardpackage {
                top: 75%;
                width: 100%;
                .cardcontainer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .card {
                        margin-bottom: 50px;
                        width: pxToRem(400px);
                        height: pxToRem(250px);
                        border-radius: 15px;
                  
                        .personinfor {
                            margin-top: 20px;
                            margin-left: 20px;
                            margin-bottom: 20px;
                            .imageperson--fg {
                                .person--svg {
                                    width: 70px;
                                    height: 70px;
                                }
                            }
                            .pinfor {
                                margin-left: 20px;
                                .pinfor_line1 {
                                    @include font($secondary-font,20px);
                                }

                                .pinfor_line2 {
                                    @include font($secondary-font,14px);
                                    margin-left: -60px;
                                }
                            }
                        }
                        .personcomment {
                            text-align: center;
                            width: pxToRem(366px);
                            color: $color_0_06;
                            line-height: normal;
                            @include font($primary-font,18px,500);
                            margin-left: 20px;
                            margin-top: 40px;
                        }

                        .perscmm2 {
                            .pcomments {
                                color: $color_255_075;
                                span.highlight{
                                    color: $color_blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}