@use '../abstracts/' as *;

.intro{
    margin-top: pxToRem(127px);
    right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0%;
    .intro_infor{
        margin-left: 10%;
        width: 90%;
        .infor_line1{
            @include font($secondary-font,12px,700);
            color: $color_blue;
            line-height: normal;
        }
        .infor_line234{
            @include font($secondary-font,24px,800);
            width: 80%;
            color: $color_white;
            margin-top: pxToRem(20px);
            line-height: normal;
            margin-bottom: pxToRem(20px);
            .infor_line234--clblue{
                color: $color_blue;
            }
        }
        .infor_line567{
            @include font($secondary-font,14px,700);
            color: $color_gray_opa7;
            line-height: normal;
            width: 80%;
            margin-bottom: pxToRem(40px);
        }
        .intro_block_button{
            width: 100%;
            margin-bottom: pxToRem(50px);
            .button--left{
                display: inline-flex;
                height: pxToRem(50px);
                padding: pxToRem(20px) pxToRem(25px);
                justify-content: center;
                align-items: center;
                @include font($secondary-font,14px,700);
                background-color: $color_blue;
                border-radius: 20px;
                box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
                color: $color_white;
                gap: pxToRem(10px);
                width: 42%;
            }
            .button--right{
                width: 42%;
                margin-left:3%;
                display: inline-flex;
                height: pxToRem(50px);
                padding: pxToRem(20px) pxToRem(25px);
                justify-content: center;
                align-items: center;
                gap: pxToRem(10px);
                flex-shrink: 0;
                border-radius: 20px;
                background-color: $color_background_checkstt;
                border: 2px solid $color_blue;
                @include font($secondary-font,14px,700);
                line-height: normal;
                color: $color_white;
            }
        }
    }
    .intro_image{
        
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
        .intro_images{
            margin-left:10%;
            width: pxToRem(280px);
       
        position: relative;
        }
        .catch_vaccine--fg{
            .catch_vaccine--svg{
                width: pxToRem(256px);
                height: pxToRem(275px);
                flex-shrink: 0;
            }
        }
        .two-image{
           position: absolute;
           top: 50%;
           background-color: $color_white;
           border-radius: 10px;
           height: pxToRem(50px);
           width: pxToRem(50px);
           box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
           justify-content: center;
           align-items: center;
           display: inline-flex;
        }
        .doctor--fg{
            left: -25px;
        }
        .coronavirus--fg{
            right: 2px;
        }
        .doctor--fg, .coronavirus--fg{
            .center--svg{
                height: pxToRem(36px);
                width: pxToRem(40px);
            }
        }
        .block_doctor{
            position: absolute;
            display: flex;
            width: pxToRem(238px);
            height: pxToRem(69px);
            flex-shrink: 0;
            border-radius: 20px;
            background-color: $color_sm_gray;
            justify-content: center;
            align-items: center;
            left: -30px;
            bottom: -35px;
            .three_doctor{
                display: flex;
                .doctorf1--fg, .doctorf2--fg, .doctorf3--fg{
                   .doctorf{
                    width: pxToRem(39px);
                    height: pxToRem(39px);
                    border-radius: 5px;
                   }
                }
                .doctorf2--fg, .doctorf3--fg{
                    margin-left: -5px;
                }
            }
            .block_doctor_content{
                margin-left: 10px;
                .content{
                    @include font($secondary-font,14px,700);
                    line-height: normal;
                }
                .block_doctor_content_line1{
                    color: $color_white;
                }
                .block_doctor_content_line2{
                    color: $color_blue;
                }
            }
        }
    }
    
}

@include tablet{
    .intro{
        .intro_infor{
             margin-left: 10%;
            .infor_line1{
                @include font($secondary-font,20px);
                
            }
            .infor_line234{
                @include font($secondary-font,36px);
                width: pxToRem(415px);
                margin-top: pxToRem(40px);
                margin-bottom: pxToRem(40px);
            }
            .infor_line567{
                @include font($secondary-font,20px);
                width: pxToRem(520px);
            }
            .intro_block_button{
                .button--left{
                    @include font($secondary-font,20px);
                    height: pxToRem(64px);
                    margin-right: 10px;
                }
                .button--right{
                    @include font($secondary-font,20px);
                    height: pxToRem(64px);
                }
            }
        }
        .intro_image{
            .intro_images{
            margin-left: 0;
            width: pxToRem(560px);
            margin-left: pxToRem(73px);
            }
            .catch_vaccine--fg{
                .catch_vaccine--svg{
                    width: pxToRem(532px);
                height: pxToRem(571px);
                }
            }
            .two-image{
                height: pxToRem(100px);
                width: pxToRem(100px);
                border-radius: 20px;
            }
            .doctor--fg{
                left: -45px;
            }
            .coronavirus--fg{
               right: -22px;
            }
            .doctor--fg, .coronavirus--fg{
                .center--svg{
                    height: pxToRem(73px);
                    width: pxToRem(80px);
                }
            }
            .block_doctor{
                width: pxToRem(374px);
                height: pxToRem(100px);
                bottom: -45px;
                left: -40px;
            .three_doctor{
                .doctorf1--fg,.doctorf2--fg,.doctorf3--fg{
                    .doctorf{
                        width: pxToRem(60px);
                        height: pxToRem(60px);
                    }
                }
                
            }
            .block_doctor_content{
                margin-left: 20px;
                .content{
                    font-size: pxToRem(24px);
                }
            }
            }
        }
    }
}

@include middle{
    .intro{
        width: 100%;
        .intro_infor{
            width: 90%;
            margin-left: 2%;
            .infor_line1{
                font-size: pxToRem(20px);
                width: 80%;
            }
            .infor_line234{
                font-size: pxToRem(36px);
                width: pxToRem(415px);
                margin-top: pxToRem(40px);
                margin-bottom: pxToRem(40px);
            }
            .infor_line567{
                font-size: pxToRem(20px);
                width: pxToRem(400px);
            }
            .intro_block_button{
                .button--left{
                    font-size: pxToRem(20px);
                    height: pxToRem(64px);
                    margin-right: 10px;
                }
                .button--right{
                    font-size: pxToRem(20px);
                    height: pxToRem(64px);
                }
            }
        }
       
    }
}
@include desktop{
   .intro{
    top: pxToRem(210px);
    left: 4%;
    flex-direction: row;
     width: 100%;
     justify-content: space-around;
    .intro_infor{
        margin-left: 5%;
        width: 100%;
        .infor_line1{
           font-size: pxToRem(24px);
        }
        .infor_line234{
          font-size: pxToRem(48px);
          width: 90%;
        }
        .infor_line567{
           font-size: pxToRem(24px);
        }
        .intro_block_button{
            .button--left{
             font-size: pxToRem(24px);
             height: pxToRem(69px);
             width: pxToRem(210px);
             margin-right: 30px;
             font-weight: 700;
            }
            .button--right{
                font-size: pxToRem(24px);
                height: pxToRem(69px);
                width: pxToRem(210px);
            }
        }
    }
    .intro_image{
        width: 80%;
        .intro_images{
            margin-left: 112px;
        width: 590px;
        }
        
        .catch_vaccine--fg{
            .catch_vaccine--svg{
                width: pxToRem(533px);
                height: pxToRem(572px);
            }
        }
        .two-image{
            height: pxToRem(100px);
            width: pxToRem(100px);
        }
        .doctor--fg{
            left: -45px;
        }
        .coronavirus--fg{
            right: 3px;
        }
        .doctor--fg, .coronavirus--fg{
            .center--svg{
                height: pxToRem(65px);
                width: pxToRem(80px);
            }
        }
        .block_doctor{
            width: pxToRem(374px);
            height: pxToRem(100px);
            left: -45px;
            bottom: -50px;
            .three_doctor{
                .doctorf1--fg, .doctorf2--fg, .doctorf3--fg{
                    .doctorf{
                        width: pxToRem(60px);
                        height: pxToRem(60px);
                    }
                    
                }
            }
            .block_doctor_content{
                .content{
                    font-size: pxToRem(24px);
                }
            }
        }
    }
   }
}