@use '../abstracts/' as *;

.intro{
    width: 100%;
    margin-bottom: 10%;
    margin-top: 25%;
    @include flex($direction:column,$justify:center,$align:center);
    @include tablet{
        margin-top: 15%;
    }
    @include desktop{
        @include flex($direction:row,$justify:center,$align:flex-start);
        margin-top: 10%;
    }
    &_infor{
      width: 90%;
      @include tablet{
        @include flex($direction:column,$justify:center,$align:flex-start);
      }
      
      .infor_line1{
        margin-left: 5%;
        @include font($font-size:pxToRem(12px),$font-weight:700,$color:$color_blue);
        margin-bottom: 5%;
        @include tablet{
            @include font($font-size:pxToRem(18px));
        }
        @include desktop{
            @include font($font-size:pxToRem(24px));
        }
      }
      .infor_line234{
        margin-left: 5%;
        @include font($color:$color_white,$font-size:pxToRem(24px),$font-weight:800,$font-family:$secondary-font);
        width: 90%;
        letter-spacing: 1px;
        line-height: 130%;
        margin-bottom: 5%;
        @include tablet{
            @include font($font-size:pxToRem(36px));
            width: 60%;
        }
        @include desktop{
            @include font($font-size:pxToRem(48px));
            width: 100%;
        }
        .infor_line234--clblue{
           color:$color_blue;
        }
      }
      .infor_line567{
        margin-left: 5%;
        @include font($color:$color_gray_opa7,$font-weight:700,$font-size:pxToRem(14px));
        line-height: 130%;
        width: 75%;
        margin-bottom: 10%;
        @include tablet{
            width: 65%;
            @include font($font-size:pxToRem(20px));
        }
        @include desktop{
            width: 100%;
            @include font($font-size:pxToRem(24px));
        }
      }
      .intro_block_button{
        margin-left: 5%;
        margin-bottom: 20%;
        width: 100%;
        .buttons{
            @include button($width:42%,$height:50px,$border-radius:20px);
            margin-right: 5%;
            @include font($font-size:pxToRem(14px),$font-weight:700,$color:$color_white);
            box-shadow: 0 4px 4px 0 $color_0_025;
            @include tablet{
                @include button($width:25%,$height:70px,$border-radius:25px);
                @include font($font-size:pxToRem(20px));
            }
            @include desktop{
                @include button($width:40%,$height:80px,$border-radius:30px);
                @include font($font-size:pxToRem(24px));
            }
        }
        .button--left{
            background-color: $color_blue;
        }
        .button--right{
            background-color: $color_background_checkstt;
            border: 2px solid $color_blue;
        }
      }
    }
    .intro_image{
        width: 100%;
        @include flex($direction:column, $justify:center,$align:center);
        .intro_images{
            width: 90%;
            position: relative;
            @include flex($direction:column, $justify:center,$align:center);
            .catch_vaccine--fg{
                width: 80%;
                .catch_vaccine--svg{
                    width: 100%;
                }
                .two-image{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $color_white;
                    padding: 2%;
                    border-radius: 15px;
                    box-shadow: 0 4px 4px 0 $color_0_025;
                    .center--svg{
                         width: 50px;
                    height: 45px;
                    @include tablet{
                        width: 90px;
                        height: 80px;
                    }
                    }
                }
                .doctor--fg{
                    left: 2%;
                   
                }
                .coronavirus--fg{
                    right: 2%;
                }
            }
            .block_doctor{
                position: absolute;
                bottom: -15%;
                left: 0;
                padding: 8%;
                border-radius: 20px;
                background-color: $color_sm_gray;
                @include flex($justify:center,$align:center);
                @include tablet{
                    padding: 5%;
                    bottom:-10%
                }
                @include desktop{
                    padding: 5%;
                    bottom:-10%
                }
                .three_doctor{
                    @include flex($gap:-10px);
                    .doctorf2--fg, .doctorf3--fg{
                        margin-left: -5%;
                    }
                    .doctorf1--fg, .doctorf2--fg, .doctorf3--fg{
                        .doctorf{
                            width: 40px;
                            height: 40px;
                            @include tablet{
                                width: 60px;
                                height: 60px;
                            }
                            @include desktop{
                                width: 60px;
                                height: 60px;
                            }
                        }
                        
                    }
                }
                .block_doctor_content{
                    .content{
                        @include font($font-size:pxToRem(14px),$font-weight:700);
                        @include tablet{
                            @include font($font-size:pxToRem(24px));
                        }
                        @include desktop{
                            @include font($font-size:pxToRem(24px));
                        }
                    }
                    .block_doctor_content_line1{
                        color:$color_white;
                    }
                    .block_doctor_content_line2{
                        color:$color_blue;
                    }
                }
            }
        }
    }
}