@use "../abstracts/" as *;

.virusBehavior{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: max-content;
    .virusBehaviorContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        .vBC_line1{
            color: $color_white;
            @include font($secondary-font,12px,700);
            text-align: center;
            line-height: normal;
            margin-bottom: 10px;
        }
        .vBC_line2{
            display: flex;
            .textt{
               @include font($secondary-font,24px,800);
               color: $color_white;
               line-height: normal; 
            }
            .subline2_1{
                color: $color_blue;
            }
            .subline2_2{
                color: $color_white;
                margin-left: 8px;
            }
        }
        .vBC_para3{
            margin-top: 20px;
            width: 276px;
            height: 60px;
            color: $color_initial_header;
            @include font($primary-font,12px,500);
            line-height: normal;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .virusBehaviorImage{
        position: relative;
        width: 100%;
        .imageperson--fg{
            .imageperson--svg{
                width: 225px;
                height: 170px;
            }
        }
        .virusdescription{
            position: absolute;
            bottom: 10%;
            width: 100%;
            .grid{
                width: 100%;
                display: grid;
                grid-template-columns: auto auto;
                .vd{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                    .vdp{
                        min-width: max-content;
                        background-color: $color_sm_gray;
                        height: 22px;
                        border-radius: 5px;
                        color: $color_blue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include font($primary-font,9px,600);
                        line-height: normal;
                        padding: 3px 10px;
                        margin-left: -10px;
                    }
                    .virus--svg{
                       height: 32px;
                       width: 32px;
                    }
                }
                .virusdescription1{
                    margin-left: 25%;
                }
                .virusdescription2{
                   margin-left: 0;
                }
                .virusdescription3{
                    margin-left: -10%;
                }
                .virusdescription4{
                     margin-left: 20%;
                }
                .virusdescription5{
                    margin-left: -20%;
                }
                .virusdescription6{
                    margin-left: 40%;

                }
            }
        }
    }
}
@include tablet{
    .virusBehavior{
        .virusBehaviorContent{
            .vBC_line1{
                @include font($secondary-font,20px);
                margin-bottom: 20px;
                margin-top: -10%;
            }
            .vBC_line2{
                .textt{
                    @include font($secondary-font,36px);
                }
            }
            .vBC_para3{
                @include font($secondary-font,18px);
                width: 550px;
            }
        }
        .virusBehaviorImage{
            .imageperson--fg{
                .imageperson--svg{
                    width:460px;
                    height: 345px;
                }
            }
            .virusdescription{
                .grid{
                    .vd{
                        margin-bottom: 30px;
                        .vdp{
                            height: 45px;
                            border-radius: 10px;
                            @include font($secondary-font,18px);
                            padding: 3px 30px;
                            margin-left: -25px;
                        }
                        .virus--svg{
                           height: 65px;
                           width: 65px;
                        }
                    }
                    .virusdescription1{
                        margin-left: 10%;
                    }
                    .virusdescription2{
                    }
                    .virusdescription3{
                        margin-left: -25%;
                    }
                    .virusdescription4{
                    }
                    .virusdescription5{
                        margin-left: -25%;
                    }
                    .virusdescription6{
                    }
                }
            }
        }
    }
}
@include desktop{
    .virusBehavior{
        top: 3200px;
        .virusBehaviorContent{
            .vBC_line1{
                @include font($secondary-font,24px);
                margin-bottom: 20px;
                margin-top: -10%;
            }
            .vBC_line2{
                .textt{
                    @include font($secondary-font,48px);
                }
            }
            .vBC_para3{
                @include font($secondary-font,24px);
                width: 953px;
            }
        }
        .virusBehaviorImage{
            .imageperson--fg{
                .imageperson--svg{
                    width:710px;
                    height: 530px;
                }
            }
            .virusdescription{
                bottom: 0;
                .grid{
                    .vd{
                        margin-bottom: 70px;
                        .vdp{
                            height: 70px;
                            border-radius: 15px;
                            @include font($secondary-font,20px);
                            padding: 3px 50px;
                            margin-left: -40px;
                        }
                        .virus--svg{
                           height: 100px;
                           width: 100px;
                        }
                    }
                    .virusdescription1{
                        margin-left: 10%;
                    }
                    .virusdescription2{
                    }
                    .virusdescription3{
                        margin-left: -25%;
                    }
                    .virusdescription4{
                    }
                    .virusdescription5{
                        margin-left: -45%;
                    }
                    .virusdescription6{
                    }
                }
            }
        }
    }
}