<div class="banner">
    <figure class="pic moderna">
        <img src="../assets/icons/modernaLogo.svg" alt="Moderna" class="moderna--svg">
    </figure>
    <figure class="pic pfizer">
        <img src="../assets/icons/pfizer.svg" alt="" class="pfizer--svg">
    </figure>
    <figure class="pic astra">
        <img src="../assets/icons/astraZeneca.svg" alt="Astra" class="astra--svg">
    </figure>
    <figure class="pic sinovac">
        <img src="../assets/icons/sinovac.svg" alt="Sinovac" class="sinovac--svg">
    </figure>
</div>