<div class="cardProtect">
    <figure class="cardProtect--fg">
        <img src="../assets/icons/shield.svg" alt="shield" class="cardProtect--svg">
    </figure>
    <p class="cardProtect_line1">Protects your immune system against viruses</p>
    <p class="cardProtect_line2">Velit ut consectetur mauris, orci amet, faucibus. <br> Sit turpis fringilla ipsum pretium, dictum. Dolor eget vel nulla lorem ac.</p>
    <div class="cardProtect_readmore">
        <p class="cardProtect_readmore_content">Read More</p>
        <figure class="cardProtect_readmore--fg">
            <img src="../assets/icons/arrowRight.svg" alt="arrow" class="cardProtect_readmore--svg">
        </figure>
    </div>
</div>