<each loop="item in {{list}}">
    <article class="card_mini_card">
        <picture class="fg">
            <img src="../assets/icons/key.svg" alt="" class="svg">
        </picture>
        <p class="card_mini_card_line1">{{item}}</p>
        <a class="card_mini_card_readmore" href="#">
            <p class="card_mini_card_readmore_content">Read More</p>
            <figure class="card_mini_card_readmore_icon--fg">
                <img src="../assets/icons/arrowRightWhite.svg" alt="arrow" class="card_mini_card_readmore_icon--svg">
            </figure>
        </a>
    </article>
</each>