<section class="cusinforsub">
    <div class="cusinfor">
        <p class="cusinfor_line1">Get your vaccine registration today</p>
        <div class="cusinfor_image">
            <div class="cusinfor_image_card">
                <figure class="imagevaccine--fg">
                    <img src="../assets/images/vaccine.png" alt="vaccine" class="imagevaccine--svg">
                <figcaption>
                     <p class="cusinfor_image_card_line1">COVID-19 vaccine</p>
                <div class="link">
                    <a href="#" class="cusinfor_image_card_link">Verify Status</a>
                </div>
                </figcaption>
            </figure>
            </div>
            <figure class="iconcorona--fg">
                <img src="../assets/icons/coronaRed.svg" alt="corona" class="iconcorona--svg">
            </figure>
        </div>
        <div class="cusinfor_form">
            <p class="cusinfor_form_line">Patient's Full Name</p>
            <input type="text" class="inputname" placeholder="Full name">
            <p class="cusinfor_form_line">Mobile Number</p>
            <p class="cusinfor_form_line34">Notifications for appointment and reminders will be sent to this provided
                number</p>
            <div class="cusinfor_form_select">
                <div class="cusinfor_form_select_flagnum">
                   <figure class="flag--fg">
                    <img src="../assets/icons/flag.svg" alt="flag" class="flag--svg">
                   </figure>
                   <figure class="arrow--fg">
                    <img src="../assets/icons/chevron-down.svg" alt="arrow" class="arrow--svg">
                   </figure>
                  <input type="text" class="phonenumber" placeholder="Phone number">
                </div>
                <button class="cusinfor_form_select_button">Verify</button>
            </div>
            <button class="cusinfor_form_button">Submit</button>
            <div class="cusinfor_form_question">
                <p class="cfq1">Already registered?</p>
                <p class="cfq2">Check your status</p>
            </div>
        </div>
    </div>
</section>