<div class="cuscomment">
    <div class="cuscommentchild">
        <div class="cuscomment_content">
            <p class="cc_line1">FEEDBACK</p>
            <p class="cc_line2">What our Patients Think</p>
            <p class="cc_para1">Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis aenean eu velit. Mi
                vestibulum, ullamcorper venenatis imperdiet augue arcu ue.</p>
        </div>
        <div class="cuscomment_imageopa">
            <figure class="vccine--fg">
                <img src="../assets/images/covid.png" alt="covid" class="vccine--svg">
            </figure>
            <figure class="vccine--fg">
                <img src="../assets/images/covid.png" alt="covid" class="vccine--svg">
            </figure>
            <figure class="vccine--fg">
                <img src="../assets/images/covid.png" alt="covid" class="vccine--svg">
            </figure>
        </div>
        <div class="cardpackage">
            <div class="cardcontainer">
                <div class="card1 card">
                    <div class="personinfor">
                        <figure class="imageperson--fg">
                            <img src="../assets/icons/personF1.svg" alt="person" class="person--svg">
                        </figure>
                        <div class="pinfor">
                            <p class="pinfor_line1">Oyindamola Maja</p>
                            <p class="pinfor_line2">Badagry, Lagos</p>
                        </div>
                    </div>
                    <div class="personcomment ">
                        <p class="pcomments">“Been stressing about a close centre to get the <span
                                class="highlight">covid-19</span> vaccine, until i tried Vaccination.ng”</p>
                    </div>
                </div>
                <div class="card2 card">
                    <div class="personinfor">
                        <figure class="imageperson--fg">
                            <img src="../assets/icons/personF2.svg" alt="person" class="person--svg">
                        </figure>
                        <div class="pinfor">
                            <p class="pinfor_line1">Okeowo Lekan</p>
                            <p class="pinfor_line2">Ikeja, Lagos</p>
                        </div>
                    </div>
                    <div class="personcomment perscmm2">
                        <p class="pcomments">“Got my vaccine very close to my house. Was very easy scheduling an
                            appointment.”</p>
                    </div>
                </div>
                <div class="card3 card">
                    <div class="personinfor">
                        <figure class="imageperson--fg">
                            <img src="../assets/icons/personF3.svg" alt="person" class="person--svg">
                        </figure>
                        <div class="pinfor">
                            <p class="pinfor_line1">Kafaru Temitope</p>
                            <p class="pinfor_line2">Obanikoro, Lagos</p>
                        </div>
                    </div>
                    <div class="personcomment">
                        <p class="pcomments">“Been stressing about a close centre to get the <span
                                class="highlight">covid-19</span> vaccine, until i tried Vaccination.ng”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>