<!-- <section class="formsendmail">
    <div class="formsendmails">
        <form>
            <p class="formsendmail_line1">Get a quote</p>
            <p class="formsendmail_line2">Please do enter your email address below</p>
            <div class="formsendemail_input">
                <input type="text" class="formsendinput" placeholder="hoattc.22ite@vku.udn.vn">
                <button class="formsendbutton">
                    <figure class="send--fg">
                        <img src="../assets/icons/send.svg" alt="send" class="send--svg">
                    </figure>
                </button>
            </div>
        </form>
      
    </div>
   
</section> -->