<div class="pformsub">

    <div class="formsub">
        <form class="formsub-content">
            <div class="content--left">
                <div class="location">
                    <figure>
                        <img class="icon-formsub" src="../assets/icons/mapPin.svg" alt="location">
                    </figure>
                    <div class="location_content">
                        <p class="content-formsub lcontent_line1">Location</p>
                        <p class="content-formsub_line2">Ikeja Lagos, Nigeria</p>
                    </div>
                </div>
                <div class="date">
                    <figure>
                        <img class="icon-formsub" src="../assets/icons/calendar.svg" alt="calendar">
                    </figure>
                    <div class="date_content">
                        <p class="content-formsub dcontent_line1">Date</p>
                        <p class="content-formsub_line2">29 February,2022</p>
                    </div>
                </div>
            </div>
            <div class="content--right">
                <div class="vType">
                    <figure>
                        <img class="icon-formsub" src="../assets/icons/shield.svg" alt="shield">
                    </figure>
                    <div class="vType_content">
                        <p class="content-formsub vcontent_line1">Vaccine Type</p>
                        <p class="content-formsub_line2">Mordena</p>
                    </div>
                </div>
                <button class="formsubmit_button">Submit</button>
            </div>
        </form>
    </div>
</div>