<div class="formCheck">
    <span class="formCheck_line1">Check your COVID-19 result on our Database</span>
    <div class="formCheck_input">
        <input type="text" class="formCheck_input_line1" placeholder="Okeowo">
        <input type="text" class="formCheck_input_line2" placeholder="NIK Number">
        <button class="formCheck_input_button">Check</button>
    </div>
    <div class="formCheck_line2 out">
        <span>Need a certificate for your COVID-19 result? Please click <a class=" link" href="">here</a></span>
    </div>
</div>