<div class="intro">
    <div class="intro_infor">
        <p class="infor_line1">Get vaccinated. Boost your Immune System</p>
        <p class="infor_line234">COVID-19 Vaccination Got Easier With, <span class="infor_line234--clblue">Vaccination.ng</span> </p>
        <p class="infor_line567">Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria.</p>
        <div class="intro_block_button">
            <button class="button--left">Get Vaccine</button>
            <button class="button--right">Help Centre</button>
        </div>
    </div>
    <div class="intro_image">
        <div class="intro_images">
            <figure class="catch_vaccine--fg">
                <img src="../assets/images/corona.webp" alt="catch vaccine" class="catch_vaccine--svg">
                <figure class="two-image doctor--fg">
                    <img src="../assets/icons/doctor.svg" alt="doctor" class="center--svg doctor--svg">
                </figure>
                <figure class="two-image coronavirus--fg">
                    <img src="../assets/icons/coronavirus.svg" alt="corona" class="center--svg coronavirus--svg">
                </figure>       
            </figure>
           
            <div class="block_doctor">
                <div class="three_doctor">
                   <figure class="doctorf1--fg">
                    <img src="../assets/icons/doctorF1.svg" alt="doctor" class="doctorf doctorf1--svg">
                   </figure>
                   <figure class="doctorf2--fg">
                    <img src="../assets/icons/doctorF2.svg" alt="doctor" class="doctorf doctorf2--svg">
                   </figure>
                   <figure class="doctorf3--fg">
                    <img src="../assets/icons/doctorF3.svg" alt="doctor" class="doctorf doctorf3--svg">
                   </figure>
                </div>
                <div class="block_doctor_content">
                      <p class="content block_doctor_content_line1">20+</p>
                      <p class="content block_doctor_content_line2">Specialists</p>
                </div>
            </div>
        </div>
       
    </div>
</div>