<!-- <section class="getV">
    <div class="getV_content">
        <p class="getV_content_line1">Why get vaccinated today?</p>
        <p class="getV_content_para2"> <s>Magna adipiscing at elit at ornare lectus
            nibh lorem.</s> 
            <s>Ac, sed ac lorem pellentesque vestibulum
                risus matti.</s> 
             <s>In molestie condimentum malesuada non.</s></p>
    </div>
    <div class="card--big">
        <div class="card">
            <include src="./components/cardProtectImmune.html"></include>
        </div>
        <div class="card_mini">
            <article class="card_mini_card">
                <figure class="fg">
                    <img src="../assets/icons/people.svg" alt="People" class="svg">
                </figure>
                <p class="card_mini_card_line1">Minimize the spread of the Virus</p>
                <a class="card_mini_card_readmore" href="#">
                    <p class="card_mini_card_readmore_content">Read More</p>
                    <figure class="card_mini_card_readmore_icon--fg">
                        <img src="../assets/icons/arrowRightWhite.svg" alt="arrow"
                            class="card_mini_card_readmore_icon--svg">
                    </figure>
                </a>
            </article>
            <article class="card_mini_card">
                <figure class="fg">
                    <img src="../assets/icons/key.svg" alt="" class="svg">
                </figure>
                <p class="card_mini_card_line1">Protect yourself</p>
                <a class="card_mini_card_readmore" href="#">
                    <p class="card_mini_card_readmore_content">Read More</p>
                    <figure class="card_mini_card_readmore_icon--fg">
                        <img src="../assets/icons/arrowRightWhite.svg" alt="arrow" class="card_mini_card_readmore_icon--svg">
                    </figure>
                </a>
            </article>
    </div>
    </div>
</section> -->