<div class="virusBehavior">
    <div class="virusBehaviorContent">
        <p class="vBC_line1">
            Covid-19 Prevention
        </p>
        <div class="vBC_line2">
            <div class="subline2_1 textt">COVID-19</div>
            <div class="subline2_2 textt"> Symptoms</div>

        </div>
        <p class="vBC_para3">
            Adipiscing nec etiam tortor elit quisque.
            Arcu aliquet convallis aenean eu velit.
            Mi vestibulum, ullamcorper venenatis imperdiet
            augue arcu donec neque.
        </p>
    </div>
    <div class="virusBehaviorImage">
            <figure class="imageperson--fg">
                <img src="../assets/images/headache.png" alt="Person" class="imageperson--svg">
            </figure>
            <div class="virusdecriptiongrid">
                <div class="virusdescription1">
                    <figure class="virus--fg">
                        <img src="../assets/icons/coronavirus.svg" alt="corona" class="virus--svg">
                    </figure>
                    <p class="virusdecription_content">High Fever</p>
                </div>
                <div class="virusdescription2">
                    <figure class="virus--fg">
                        <img src="../assets/icons/coronavirus.svg" alt="corona" class="virus--svg">
                    </figure>
                    <p class="virusdecription_content">Loss sense of taste</p>
                </div>
                <div class="virusdescription3">
                    <figure class="virus--fg">
                        <img src="../assets/icons/coronavirus.svg" alt="corona" class="virus--svg">
                    </figure>
                    <p class="virusdecription_content">Dry Cough</p>
                </div>
                <div class="virusdescription4">
                    <figure class="virus--fg">
                        <img src="../assets/icons/coronavirus.svg" alt="corona" class="virus--svg">
                    </figure>
                    <p class="virusdecription_content">Difficulty Breathing</p>
                </div>
                <div class="virusdescription5">
                    <figure class="virus--fg">
                        <img src="../assets/icons/coronavirus.svg" alt="corona" class="virus--svg">
                    </figure>
                    <p class="virusdecription_content">Loss sense of smell</p>
                </div>
                <div class="virusdescription6">
                    <figure class="virus--fg">
                        <img src="../assets/icons/coronavirus.svg" alt="corona" class="virus--svg">
                    </figure>
                    <p class="virusdecription_content">Sore Throat</p>
                </div>
            </div>
           
    </div>
</div>