<!-- <section class="virusBehavior">
    <div class="virusBehaviorContent">
        <p class="vBC_line1">
            Covid-19 Prevention
        </p>
        <div class="vBC_line2">
            <div class="subline2_1 textt">COVID-19</div>
            <div class="subline2_2 textt"> Symptoms</div>

        </div>
        <p class="vBC_para3">
            Adipiscing nec etiam tortor elit quisque.
            Arcu aliquet convallis aenean eu velit.
            Mi vestibulum, ullamcorper venenatis imperdiet
            augue arcu donec neque.
        </p>
    </div>
<div class="virusBehaviorImage">
            <figure class="imageperson--fg">
                <img src="../assets/images/headache.webp" alt="Person" class="imageperson--svg">
            </figure>
            <div class="virusdescription">
                <div class="grid">
                   
                    <include src="./components/imagelist.html" locals='{
                        "list": "[`High Fever`,`Loss sense of taste`,`Dry Cough`,`Difficulty Breathing`,`Loss sense of smell`,`Sore Throat`]"
                    }'></include>
                    
                </div>
            </div>
           
    </div> -->
    
<!-- </section>  -->