@use "../abstracts/" as *;
@font-face {
  font-family: "Montserrat Regular";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
body{
  font-family: $primary-font;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}