@mixin bg-img($bg: "") {
    background-image: url($bg);
    background-size: cover;
    background-clip: border-box;
}
@mixin responsive($value1, $value2){
    @media screen and (min-width:$value1) and (max-width:$value2) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width:428px) {
        @content;
    }
}

@mixin middle {
    @media screen and (min-width:429px) and (max-width:766px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width:767px) and (max-width:1199px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:1200px) {
        @content;
    }
}

@mixin font($font-family:false,$font-size:false,$font-weight:false,$font-style:false,$line-height:false,$color:false){
  @if ($font-family != false) {
   font-family:$font-family;
  }
  @if $font-size{
    font-size: $font-size; 
  }
  
  @if $font-weight{
    font-weight: $font-weight;
  }
  
  @if $font-style{
    font-style: $font-style;
  }
  
  @if $line-height{
    line-height: $line-height;
  }
  
  @if $color{
    color: $color;
  }
  
  }
  @mixin flex(
  $display: flex,
  $direction: false,
  $align: false,
  $justify: false,
  $wrap: false,
  $gap: false
  ) {
  display: $display;
  @if $direction {
    flex-direction: $direction;
  }
  @if $align {
    align-items: $align;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $wrap {
    flex-wrap: $wrap;
  }
  @if $gap {
    gap: $gap;
  }
  }
  @mixin button($width:false,$height:false,$background-color:false,$border-radius:false,$border:false){
    @if $width != false{
        width: $width;
    }
    @if $height != false{
        height: $height;
    }
    @if $background-color != false{
        background-color: $background-color;
    }
    @if $border-radius != false{
        border-radius: $border-radius;
    }
    @if $border!= false{
        border: $border;
    }
    cursor: pointer;
  }