@use "variable" as *;
@use "functions" as *;
@mixin button($width:false,$height:false,$background-color:false,$border-radius:false,$border:false){
  @if $width != false{
      width: $width;
  }
  @if $height != false{
      height: $height;
  }
  @if $background-color != false{
      background-color: $background-color;
  }
  @if $border-radius != false{
      border-radius: $border-radius;
  }
  @if $border!= false{
      border: $border;
  }
  cursor: pointer;
}

@mixin grid($grid-tplt-row:false,$grid-tplt-column:false,$justify-content:false,$align-items:false,$grid-gap:false){
    display: grid;
    @if $grid-tplt-row != false{
      grid-template-rows: $grid-tplt-row;
    }
    @if $grid-tplt-column!= false{
      grid-template-columns: $grid-tplt-column;
    }
    @if $justify-content!= false{
      justify-content: $justify-content;
    }
    @if $align-items!= false{
      align-items: $align-items;
    }
    @if $grid-gap!= false{
      grid-gap: $grid-gap;
    }
}
@mixin font($font-family:false,$font-size:false,$font-weight:false,$font-style:false,$line-height:false,$color:false){
@if ($font-family != false) {
 font-family:$font-family;
}
@if $font-size{
  font-size: $font-size; 
}

@if $font-weight{
  font-weight: $font-weight;
}

@if $font-style{
  font-style: $font-style;
}

@if $line-height{
  line-height: $line-height;
}

@if $color{
  color: $color;
}

}
@mixin flex(
$display: flex,
$direction: false,
$align: false,
$justify: false,
$wrap: false,
$gap: false
) {
display: $display;
@if $direction {
  flex-direction: $direction;
}
@if $align {
  align-items: $align;
}
@if $justify {
  justify-content: $justify;
}
@if $wrap {
  flex-wrap: $wrap;
}
@if $gap {
  gap: $gap;
}
}
@mixin bg-img($bg: "") {
  background-image: url($bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin tablet {
  @media (min-width:$mobiles) and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}