$color_white: #fff;
$color_icon_right:rgba(196, 196, 196, 0.15);
$color_blue:#17C2EC;
$color_initial_header:rgba(255, 255, 255, 0.50);
$color_background_checkstt:rgba(196, 196, 196, 0.10);
$fontMontserrat:"Montserrat";
$fontMontserratRegular:"Montserrat Regular";
$color_gray_opa7:rgba(255, 255, 255, 0.70);
$color_gray_blur: rgba(196,196,196,0);
$color_sm_gray: rgba(196, 196, 196, 0.20);
$color_background_formSub:rgba(196, 196, 196, 0.05);