@use "../abstracts/" as *;

.footer {
    margin-top: 10%;
    margin-left: 6%;

    .footericonmenu {
        color: $color_white;
        line-height: normal;
        @include font($secondary-font, 18px,700);
        position: relative;
        margin-bottom: 20px;
    }

    .footericonmenu::after {
        content: "";
        background-color: $color_blue;
        height: 3px;
        position: absolute;
        width: 100px;
        border-radius: 10px;
        left: 0;
        bottom: 0;
        top: 25px;
    }

    .nav {
        margin-top: 10px;

        .theul {
            .theli {
                line-height: normal;
                @include font($primary-font, 14px,500);
                color: $color_initial_header;
                margin-bottom: 5%;
            }
            .theli:nth-child(1){
                color: $color_white;
                @include font($secondary-font, 14px);
            }
        }
    }
    .icon{
        display: flex;
        margin-bottom: 5%;
        .icon--fg{
            margin-right: 3px;
            .icon--svg{
                width: 18px;
                height: 18px;
            }
        }
    }
}
@include tablet{
    .footer {
        .footericonmenu {
            @include font($secondary-font, 26px);
        }
    
        .footericonmenu::after {
            height: 5px;
            width: 130px;
            left: 0;
            bottom: 0;
            top: 40px;
        }
    
        .nav {
            margin-top: 40px;            
            .theul {
                display: flex;
                .theli {
                    @include font($primary-font, 20px);
                    margin-bottom: 5%;
                    margin-right: 5%;
                }
            }
        }
        .icon{
            .icon--fg{
                margin-right: 3px;
                .icon--svg{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
@include desktop{
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom:10%;
        .footericonmenu {
            @include font($secondary-font, 32px);
        }
    
        .footericonmenu::after {
            height: 5px;
            width: 130px;
            left: 0;
            bottom: 0;
            top: 40px;
        }
    
        .nav {
            margin-top: 40px;            
            .theul {
                display: flex;
                width: 520px;
                .theli {
                    @include font($primary-font, 24px);
                    margin-bottom: 5%;
                    margin-right: 5%;
                }
            }
        }
        .icon{
            margin-bottom: 0;
            .icon--fg{
                margin-right: 3px;
                .icon--svg{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

}