@use "../abstracts/" as *;

.footer {
    margin-top: 10%;
    margin-left: 10%;

    .footericonmenu {
        color: $color_white;
        line-height: normal;
        @include font($secondary-font, 18px,700);
        position: relative;
        margin-bottom: 20px;
    }

    .footericonmenu::after {
        content: "";
        background-color: $color_blue;
        height: 3px;
        position: absolute;
        width: 100px;
        border-radius: 10px;
        left: 0;
        bottom: 0;
        top: 25px;
    }
    nav {
        width: 100%;
        top: pxToRem(60px);
        margin-right: auto;
        width: fit-content;
        margin: 2% 0 2% 0;
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
  
          .nav_pk_items:nth-child(1) {
            position: relative;
  
            a {
              color: $color_white;
            }
          }
          .nav_pk_items {
            position: relative;
            list-style-type: none;
  
            margin-bottom: 10px;
            a {
              text-decoration: none;
              line-height: normal;
              color: $color_initial_header;
              position: relative;
              @include font($primary-font, 14px,500);
              margin-bottom: 40px;
            }
  
            .nav_items::after {
              content: "";
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -10px;
              width: 10px;
              height: 10px;
              background-color: $color_blue;
              border-radius: 50%;
              opacity: 0;
            }
  
            .nav_items:hover {
              color: $color_white;
            }
  
            .nav_items:hover::after {
              opacity: 1;
            }
          }
        }
      } 

   
    .icon{
        display: flex;
        margin-bottom: 5%;
        margin-right: 5%;
        .icon--fg{
            margin-right: 3px;
            .icon--svg{
                width: 18px;
                height: 18px;
            }
        }
    }
}
@include tablet{
    .footer {
        .footericonmenu {
            @include font($secondary-font, 26px);
        }
    
        .footericonmenu::after {
            height: 5px;
            width: 130px;
            left: 0;
            bottom: 0;
            top: 40px;
        }
        nav {
          margin-left: -1%;
            ul {
                flex-direction: row;
              .nav_pk_items {
                margin: 10px;
                a {
                  @include font($primary-font, 20px,500);
                }
              }
            }
          } 
        .icon{
            .icon--fg{
                margin-right: 3px;
                .icon--svg{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
@include desktop{
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom:10%;
        .footericonmenu {
            @include font($secondary-font, 32px);
        }
    
        .footericonmenu::after {
            height: 5px;
            width: 130px;
            left: 0;
            bottom: 0;
            top: 40px;
        }
        nav {
            margin-left: 10%;
      
            ul {
                flex-direction: row;
                gap: 20px;
              .nav_pk_items {
                
              a {
                  @include font($primary-font, 1.5rem,500);
                }
              }
            }
          } 
        .icon{
            margin-bottom: 0;
            .icon--fg{
                margin-right: 3px;
                .icon--svg{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

}