@use '../abstracts/' as *;



  .header-container {
    width: 100%;
    @include flex($direction:column,$justify:center,$align:center);
    .container{
      width: 90%;
      padding: 10% 0;
      @include flex($direction:row-reverse,$justify:space-between);
      @include desktop{
        @include flex($direction:row,$justify:flex-start);
        width: 100%;
        gap: 2%;
        padding: 3% 0;
      }
      .icon--right{
        @include button($background-color:$color_icon_right);
        padding: 8px;
        border-radius: 30%;
        @include desktop{
          display: none;
        }
      }
      nav{
        display: none;
        width: 50%;
        
        ul{
          width: 100%;
          @include flex($justify:center,$align:center,$gap:5%);
          .nav__pk__items{
            list-style-type: none;
            
            .nav__items{
              text-decoration: none;
              @include font($font-family:$primary-font,$font-size:pxToRem(24),$color:$color_initial_header);
             
            }
            &:nth-child(1){
              position: relative;
              .nav__items{
                color:$color_white;
              }
           }
           &:nth-child(1)::after{
             content: "";
             position: absolute;
             bottom:-10px;
             left: 50%;
             transform: translateX(-50%);
             @include button($width:10px,$height:10px,$background-color:$color_blue,$border-radius:50%);
           }
          }
        }
        @include desktop{
          @include flex($justify:center,$align:center);
          margin-bottom: 2%;
        }
      }
      .checkstatus--right{
        display: none;
        @include button($width:15%,$height:70px,$border-radius:20px,$background-color:$color_background_checkstt);
        box-shadow: 0px 4px 4px 0px$color_0_025;
        @include font($font-family:$primary-font,$font-size:pxToRem(24),$font-weight:700,$color:$color_blue);
        @include desktop{
          display: block;
        }
      }
      .home__icon--left{
        text-decoration: none;
        color: $color-white;
        @include font($font-size:pxToRem(18),$font-family:$secondary-font);
        position: relative;
        margin-left: 5%;
        @include tablet{
          @include font($font-size:pxToRem(26));
        }
        @include desktop{
          @include font($font-size:pxToRem(32));
          margin-left: 5%;
        }
        &::after{
          content: "";
          position: absolute;
          bottom:  30%;
          left: 0;
          width: 60%;
          border: 2px solid $color-blue;
          border-radius: 10px;
        }
      }
    }
 
  }