<main class="main">
    <include src="./components/intro.html"></include>
    <include src="./components/book.html"></include>
    <include src="./components/banner.html"></include>
    <include src="./components/formCheck.html"></include>
    <include src="./components/reason.html"></include>
    <include src="./components/customerinfor.html"></include>
    <include src="./components/virusBehavior.html"></include>
    <include src="./components/customercomment.html"></include> 
    <include src="./components/formSendEmail.html"></include>
</main>