<!-- <footer class="footer">
    <p class="footericonmenu">Vaccination.ng</p>
    <nav>
        <ul>
            <include src="./components/navList.html" locals='{
           "classList":"nav_pk_items",
           "classLink":"nav_items",
           "list": "[`Home`,`Services`,`Schedule`,`Contact us`]"
        }'>
            </include>
        </ul>
    </nav>
    <div class="icon">
        <figure class="icon--fg">
            <img src="../assets/icons/youtube.svg" alt="youtube" class="icon--svg">
        </figure>
        <figure class="icon--fg">
            <img src="../assets/icons/instagram.svg" alt="instagram" class="icon--svg">
        </figure>
        <figure class="icon--fg">
            <img src="../assets/icons/twitter.svg" alt="twitter" class="icon--svg">
        </figure>
        <figure class="icon--fg">
            <img src="../assets/icons/facebook.svg" alt="facebook" class="icon--svg">
        </figure>
    </div>
    
</footer> -->