<footer class="footer">
    <p class="footericonmenu">Vaccination.ng</p>
    <nav>
        <ul>
            <include src="./components/navList.html" locals='{
           "classList":"nav_pk_items",
           "classLink":"nav_items",
           "list": "[`Home`,`Services`,`Schedule`,`Contact us`]"
        }'>
            </include>
        </ul>
    </nav>
    <div class="icon">
        <include src="./components/footerlist.html" locals='{
            "list":"[`youtube`,`instagram`,`twitter`,`facebook`]"
        }'>
        </include>
    </div>
    
</footer>