<div class="footer">
    <p class="footericonmenu">Vaccination.ng</p>
    <nav class="nav">
        <ul class="theul">
            <li class="theli">Home</li>
            <li class="theli">Services</li>
            <li class="theli">Schedule</li>
            <li class="theli">Contact us</li>
        </ul>
    </nav>
    <div class="icon">
        <figure class="icon--fg">
            <img src="../assets/icons/youtube.svg" alt="youtube" class="icon--svg">
        </figure>
        <figure class="icon--fg">
            <img src="../assets/icons/instagram.svg" alt="instagram" class="icon--svg">
        </figure>
        <figure class="icon--fg">
            <img src="../assets/icons/twitter.svg" alt="twitter" class="icon--svg">
        </figure>
        <figure class="icon--fg">
            <img src="../assets/icons/facebook.svg" alt="facebook" class="icon--svg">
        </figure>
    </div>
    
</div>