<header class="header-container">
    <div class="container">
        <figure><img class="icon--right" src="../assets/icons/align-right.svg" alt="Menu_Icon"></figure>

        <a href="#" class="home__icon--left">Vaccination.ng</a>

        <nav>
            <ul>
                <include src="./components/navList.html" locals='{
               "classList":"nav__pk__items",
               "classLink":"nav__items",
               "list": "[`Home`,`Services`,`Schedule`,`Contact us`]"
            }'>
                </include>
            </ul>
        </nav>
        <button class="checkstatus--right">Check Status</button>
    
    </div>
       
</header>