<header>
    <div class="header-container">
        <figure><img class="icon_align--right" src="../assets/icons/align-right.svg" alt="Menu_Icon"></figure>

        <a href="#" class="home_icon--left">Vaccination.ng</a>

        <nav class="nav">
            <ul>
                <include src="./components/navList.html" locals='{
               "classList":"nav_pk_items",
               "classLink":"nav_items",
               "list": "[`Home`,`Services`,`Schedule`,`Contact us`]"
            }'>

                </include>
            </ul>
        </nav>
        <div class="checkstatus--right">Check Status</div>
    </div>
</header>